* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

body {
  background-color: $clr-pale;
}

a {
  text-decoration: none;
}

.btn {
  padding: 6px 15px;
  background-color: $clr-green;
  border-radius: 5px 25px;
  color: $clr-pale;
  border: none;
  transition: opacity 0.2s;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  
}
.charts-container {
  background-color: transparent;
}


  