* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

body {
  background-color: $clr-pale;
}

.btn {
  padding: 6px 10px;
  background-color: $clr-green;
  border-radius: 5px 25px;
  color: $clr-pale;
  border: none;

  &:hover {
    cursor: pointer;
  }

}

