.contact-edit-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  color: $clr-dark;

  input {
    background-color: $clr-pale;
    border: 2px $clr-green solid;
    color: $clr-dark;
    border-radius: 8px;
    padding: 10px;
    outline: none;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .btn-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
  }
}
