.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5%;

  .hero-contacts-btn {
    width: fit-content;
    font-size: 2rem;
    text-decoration: none;
    margin: auto;
    padding: 15px;
    animation: hero-btn 2s ease 0s infinite alternate forwards;
  }

  @keyframes hero-btn {
    0% {
      box-shadow: 0 0 0 0 $clr-green;
    }
  
    100% {
      box-shadow: 0 0 20px 0px $clr-green;
    }
  }

  h1 {
    font-size: 3rem;
    color: $clr-dark;
    font-family: 'Acme', sans-serif;
  }


}