@font-face {
  font-family: 'roboto', sans-serif;
  src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'roboto-medium';
  src: url('../../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'roboto-bold';
  src: url('../../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Acme', sans-serif;
  src: url('../../fonts/Acme/Acme-Regular.ttf');
}