@font-face {
  font-family: 'roboto', sans-serif;
  src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'roboto-medium';
  src: url('../../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'roboto-bold';
  src: url('../../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Silkscreen', cursive;
  src: url('../../fonts/Silkscreen/Silkscreen-Regular.ttf');
}