// COLOR PALETTE
$clr-dark: #06283d;
$clr-green: #256d85;
$clr-light: #47b5ff;
$clr-pale: white;
$clr-black: #222222;
$clr-white: #fff;

// LAYOUT
$layoutPadding: 16px;

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 960px;
$break-wide: 1200px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
